/* CABEÇALIO */
header{
  background-color: #BBBBBB;
  padding: 20px 0; 
}

.caixa{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav{
  position: absolute;
  top: 110px;
  right: 0;
}

nav li{
  display: inline-block;
  margin-left: 15px;
}
nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover{
  color: #C78C19;
  text-decoration: underline;
}

/* MAIN - HOME */

#bunner{
  width: 100%;
}

.principal{
  background-color: #cccccc ;
  padding: 30px;
  text-align: center;
}

#missao{
  font-size: 20px;
}

#missao strong{
  line-height: 30px;
  color: red;
}

.beneficios ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;

}

.beneficios ul li{
  font-style: italic;
}

.beneficios {
  background: white;
  padding: 20px;

}

.beneficios h2{
  text-align: center;
}

.beneficios img{
  width: 50%;
}

/* CONTEÚDO PRINCIPAL  - PRODUTOS */

.produtos{
  margin: 0 auto;
  width: 940px;
  padding: 50px 0;
}


.produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  box-sizing: border-box;
  padding: 30px 20px;
  border: 2px solid black;
  border-radius: 4%;
}

.produtos li:hover{
  border-color: #C78C19;
  
}

.produtos li:active{
  border-color: #C78C19;
  
}

.produtos li:hover h2{
  font-size: 34px;
  
}


.produtos h2{
  font-weight: bold;
  font-size: 30px;

}

.produto-descricao{
  font-size: 18px;
}

.produto-preco{
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

/* CONTEÚDO PÁGINA DE CONTATO  - PRODUTOS */
.contato{
  width: 940px;
  margin: 0 auto;
}

form{
  margin: 40px 0;
}

form input, form label{
  display: block;
}

form label{
  font-size: 20px;
  margin-bottom: 10px;
}

form input{
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 50%;
}



/* RODAPÉ */
footer{
  background: url(images/bg.jpg);
  text-align: center;
  padding: 40px 0;
}

.copyright{
  color: white;
  font-size: 13px;
  margin-top: 20px;
}